<nav aria-label='breadcrumb'>
  <ol class='breadcrumb'>
    <li class='breadcrumb-item'>
      <a href='/repos'>Repositories</a>
    </li>
    <li class='breadcrumb-item'>
      <a href='<%= repo_path(@repo_name) %>'><%= @repo_name %></a>
    </li>
    <li class='breadcrumb-item active' aria-current='page'>Commits</li>
  </ol>
</nav>

<h2>Commits History</h2>

<div id='commits'>
  <div id='repo-metadata'>
    <div class='dropdown show git-branch'>
      <a class='btn btn-secondary dropdown-toggle' href='#' role='button' id='dropdownMenuLink'>Branch: <%= @metadata[:local_branches][0] %></a>
      <div class='dropdown-menu' aria-labelledby='dropdownMenuLink'>
        <% @metadata[:local_branches].each do |branch| %>
          <a class='dropdown-item' href='#'><%= branch %></a>
        <% end %>
      </div>
    </div>
    <div class='multi-commits-diff'>
      <div class='input-group mb-3'>
        <div class='input-group-prepend'>
          <span class='input-group-text'>Commit 1:</span>
        </div>
        <input type='text' id='commit1' class='form-control' placeholder='Compare from' aria-label='Compare from' aria-describedby='Commit 1'>
      </div>

      <div class='input-group mb-3'>
        <div class='input-group-prepend'>
          <span class='input-group-text'>Commit 2:</span>
        </div>
        <input type='text' id='commit2' class='form-control' placeholder='Compare to' aria-label='Compare to' aria-describedby='Commit 2'>
      </div>

      <div class='compare'>
        <button id='compare-diffs' class='btn btn-primary'>Compare</a>
      </div>
    </div>
  </div>

  <div id='histories'>
    <% unless @commits.nil? %>
    <ul>
      <% @commits.each do |commit| %>
        <a href='/repos/<%= @repo_name %>/commit/<%= commit[:sha] %>'>
          <li class='commit-item'>
            <div class='message'><%= commit[:message] %></div>
            <div class='author'>
              <span>Committed by:</span>
              <span><%= commit[:author][:name] %></span>
            </div>
            <div class='time'><%= commit[:time] %></div>
            <div class='sha'>
              <span>Sha:</span>
              <span class='sha-value'><%= commit[:sha] %></span>
            </div>
          </li>
        </a>
      <% end %>
    </ul>
    <% else %>
    <div>Emtpy repository. No commits</div>
    <% end %>
  </div>
</div>
