<h2>Commits History</h2>

<div id='commits'>
  <div id='repo-metadata'>
    <div class='dropdown show git-branch'>
      <a class='btn btn-secondary dropdown-toggle' href='#' role='button' id='dropdownMenuLink'>Branch: <%= @metadata[:local_branches][0] %></a>
      <div class='dropdown-menu' aria-labelledby='dropdownMenuLink'>
        <% @metadata[:local_branches].each do |branch| %>
          <a class='dropdown-item' href='#'><%= branch %></a>
        <% end %>
      </div>
    </div>
  </div>

  <div id='histories'>
    <% unless @commits.nil? %>
    <ul>
      <% @commits.each do |commit| %>
        <li class='commit-item'>
          <div><%= commit[:message] %></div>
          <div><%= commit[:author][:name] %></div>
          <div><%= commit[:time] %></div>
          <div><%= commit[:sha] %></div>
        </li>
      <% end %>
    </ul>
    <% else %>
    <div>Emtpy repository. No commits</div>
    <% end %>
  </div>
</div>
