<nav aria-label='breadcrumb'>
  <ol class='breadcrumb'>
    <li class='breadcrumb-item active' aria-current='page'>Repositories</li>
  </ol>
</nav>

<h2>All Repositories</h2>

<div id='repositories'>
  <ul>
<% @repos.each do |repo| %>
    <a href='<%= repo_path(repo[:name]) %>'><li class='repository-item'>
      <h3><%= repo[:name] %></h3>
      <div class='git-url'><%= repo[:url] %></div>
      <div><%= repo[:last_commit_message] %></div>
      <div><%= repo[:last_commit_time] %></div>
    </li></a>
<% end %>
  </ul>
</div>
