<h2>Create a new repository</h2>

<% if flash[:error] %>
  <div class='error'><%= flash[:error] %></div>
<% end %>

<%= form_with scope: :repo, url: repos_path, local: true do |form| %>
  <div class='form-group'>
    <%= form.label :name, 'Repository Name' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
  <div class='form-check'>
    <%= form.check_box :readme, class: 'form-check-input', checked: true %>
    <%= form.label :readme, 'Initialize this repository with a README', class: 'form-check-label' %>
  </div>
  <%= form.submit class: 'btn btn-primary' %>
<% end %>
