<nav aria-label='breadcrumb'>
  <ol class='breadcrumb'>
    <li class='breadcrumb-item'>
      <a href='/repos'>Repositories</a>
    </li>
    <li class='breadcrumb-item active' aria-current='page'>
      <a href='<%= repo_path(@repo.name) %>'><%= @repo.name %></a>
    </li>
  </ol>
</nav>

<h2><%= @repo.name %></h2>
<div id='repo'>
  <% if @tree %>
  <div id='repo-metadata'>
    <div class='git-url'>
      <span class='protocol'>SSH:</span>
      <span class='url'><%= @repo.url %></span>
    </div>
    <div class='dropdown show git-branch'>
      <a class='btn btn-secondary dropdown-toggle' href='#' role='button' id='dropdownMenuLink'>Branch: <%= @metadata[:local_branches][0] %></a>
      <div class='dropdown-menu' aria-labelledby='dropdownMenuLink'>
        <% @metadata[:local_branches].each do |branch| %>
          <a class='dropdown-item' href='#'><%= branch %></a>
        <% end %>
      </div>
    </div>

    <div class='git-branch-commit-count'>
      <span class='history'>History:</span>
      <a href='<%= repo_commit_path(@repo[:name], 'master') %>'>
        <%= pluralize(@metadata[:number_of_commits], 'commit') %>
      </a>
    </div>
  </div>
  <div id='repo-content'>
    <table>
      <thead>
        <tr>
          <th>Node Name</th>
        </tr>
      </thead>
      <tbody>
        <% @tree.each_tree do |dir| %>
        <tr class='directory'>
          <td>
            <a href='<%= repo_path(@repo[:name]) %>/master/<%= dir[:name] %>'>
              <span class='symbol'>+</span>
              <span class='name'><%= dir[:name] %></span>
            </a>
          </td>
        </tr>
        <% end %>

        <% @tree.each_blob do |file| %>
        <tr class='file'>
          <td>
            <a href='<%= repo_path(@repo[:name]) %>/master/<%= file[:name] %>'>
              <span class='symbol'></span>
              <span class='name'><%= file[:name] %></span>
            </a>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div id='repo-document'>
    <h3>README.md</h3>
    <pre class='language-markdown'><code class='language-markdown'><%= @readme_content %></code></pre>
  </div>
  <% else %>
  <div>Empty Repository</div>
  <% end %>
</div>
