<h2><%= @repo.name %></h2>
<div class='repo'>
  <div id='repo-metadata'>
    <div class='dropdown show git-branch'>
      <a class='btn btn-secondary dropdown-toggle' href='#' role='button' id='dropdownMenuLink'>Branch: <%= @metadata[:local_branches][0] %></a>
      <div class='dropdown-menu' aria-labelledby='dropdownMenuLink'>
        <% @metadata[:local_branches].each do |branch| %>
          <a class='dropdown-item' href='#'><%= branch %></a>
        <% end %>
      </div>
    </div>
  </div>
  <div id='repo-content'>
    <% if @blob_content.nil? and not @current_tree.nil? %>
    <ul>
      <% @current_tree.each_tree do |dir| %>
      <a href='<%= request.env['PATH_INFO'] %>/<%= dir[:name] %>'><li class='directory'>
        <span class='symbol'>+</span>
        <span class='name'><%= dir[:name] %></span>
      </li></a>
      <% end %>

      <% @current_tree.each_blob do |file| %>
      <a href='<%= request.env['PATH_INFO'] %>/<%= file[:name] %>'><li class='file'>
        <span class='symbol'></span>
        <span class='name'><%= file[:name] %></span>
      </li></a>
      <% end %>
    </ul>
    <% elsif not @blob_content.nil? and @current_tree.nil? %>
    <div><%= simple_format(@blob_content) %>
    <% end %>
  </div>
</div>
