<h2><%= @repo.name %></h2>
<div id='repo'>
  <div id='repo-metadata'>
    <div class='git-url'><%= @repo.url %></div>
    <div class='dropdown show git-branch'>
      <a class='btn btn-secondary dropdown-toggle' href='#' role='button' id='dropdownMenuLink'>Branch: <%= @metadata[:local_branches][0] %></a>
      <div class='dropdown-menu' aria-labelledby='dropdownMenuLink'>
        <% @metadata[:local_branches].each do |branch| %>
          <a class='dropdown-item' href='#'><%= branch %></a>
        <% end %>
      </div>
    </div>

    <div class='git-branch-commit-count'>
      <a href='<%= repo_commit_path(@repo[:name], 'master') %>'>
        <%= pluralize(@metadata[:number_of_commits], 'commit') %>
      </a>
    </div>
  </div>
  <div id='repo-content'>
    <ul>
      <% @tree.each_tree do |dir| %>
      <a href='<%= repo_path(@repo[:name]) %>/master/<%= dir[:name] %>'><li class='directory'>
        <span class='symbol'>+</span>
        <span class='name'><%= dir[:name] %></span>
      </li></a>
      <% end %>

      <% @tree.each_blob do |file| %>
      <a href='<%= repo_path(@repo[:name]) %>/master/<%= file[:name] %>'><li class='file'>
        <span class='symbol'></span>
        <span class='name'><%= file[:name] %></span>
      </li></a>
      <% end %>
    </ul>
  </div>
  <div id='repo-document'>
    <% if @readme %>
    <div><%= simple_format(@readme_content) %>
    <% else %>
    <div>Please add a README.md to the repository</div>
    <% end %>
  </div>
</div>
