<nav aria-label='breadcrumb'>
  <ol class='breadcrumb'>
    <li class='breadcrumb-item'>
      <a href='/repos'>Repositories</a>
    </li>
    <li class='breadcrumb-item'>
      <a href='<%= repo_path(@repo_name) %>'><%= @repo_name %></a>
    </li>
    <li class='breadcrumb-item'>
      <a href='<%= repo_commit_path(@repo_name, "master") %>'>Commits</a>
    </li>
    <li class='breadcrumb-item active' aria-current='page'>
      <%= @commit_metadata[:sha]%>
    </li>
  </ol>
</nav>

<h2>Diffs</h2>

<div id='diff'>
  <div id='commit-metadata'>
    <h3><span>Commit:</span><%= @commit_metadata[:sha] %></h3>
    <div class='detail'>
      <div class='message'><%= @commit_metadata[:message] %></div>
      <div class='author'><span>Committed by</span><%= @commit_metadata[:author][:name] %></div>
      <div class='time'><span>on</span><%= @commit_metadata[:time] %></div>
      <div class='parents'>
        <span><%= pluralize(@commit_metadata[:parent_ids].count, 'parent') %>:</span>
        <span>[</span>
        <ul>
        <% @commit_metadata[:parent_ids].each do |id| %>
          <li><a href='/repos/<%= @repo_name %>/commit/<%= id %>'><%= id %></a></li>
        <% end %>
        </ul>
        <span>]</span>
      </div>
    </div>
  </div>

  <div id='diff-content'>
    <% if @diff_content.empty? %>
      <div>No file change</div>
    <% else %>
      <% @diff_content.each do |d| %>
      <div class='diff card bg-dark mb-3'>
        <div class='diff-header card-header'>
          <div class='changes'><%= pluralize(d[:changes], 'change') %></div>
          <div class='additions'><%= pluralize(d[:additions], 'addition') %></div>
          <div class='deletions'><%= pluralize(d[:deletions], 'deletion') %></div>
          <% if d[:old_file] == d[:new_file] %>
            <div class='name'><%= d[:new_file] %></div>
          <% else %>
            <div class='name'><%= d[:old_file] %> &rarr; <%= d[:new_file] %></div>
          <% end %>
        </div>
        <div class='diff-patch card-body'>
          <table class='diff-table'>
            <tbody>
            <% d[:diff][:new].each_index do |index| %>
              <% if d[:diff][:old][index][:line] =~ /^@/ %>
                <tr class='hunk'>
                  <td>&nbsp;</td>
                  <td colspan='3'><%= d[:diff][:old][index][:line] %></td>
                </tr>
              <% else %>
                <tr class='patch'>
                  <td class='line-number <%= d[:diff][:old][index][:line_type] %>'>
                    <%= d[:diff][:old][index][:line_num] %>
                  </td>
                  <td class='old-line <%= d[:diff][:old][index][:line_type] %>'>
                    <pre class='language-<%= d[:lang] %>'><code class='language-<%= d[:lang] %>'><%= d[:diff][:old][index][:line] %></code></pre>
                  </td>
                  <td class='line-number <%= d[:diff][:new][index][:line_type] %>'>
                    <%= d[:diff][:new][index][:line_num] %>
                  </td>
                  <td class='new-line <%= d[:diff][:new][index][:line_type] %>'>
                    <pre class='language-<%= d[:lang] %>'><code class='language-<%= d[:lang] %>'><%= d[:diff][:new][index][:line] %></code></pre>
                  </td>
                </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
